@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;800&display=swap");

:root {
  --blue: #25a5f0;
  --gray: #6c757d;
  --gray-dark: #343a40;
  --primary: #25a5f0;
  --secondary: #6c757d;
  --light: #f8f9fa;
  --dark: #212529;
  --pink: #ff6b81;
}

body {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  margin: 0;
  padding: 0;
  background-color: #f8f9fa;
}

.hero-section {
  height: 80vh;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("./images/hero-cover.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 100px;
  padding: 30px 0;
}

.logo-nav-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 1.5rem;
  font-weight: 800;
  color: var(--light);
  margin-right: 50px;
}

.nav {
  display: flex;
  justify-content: end;
  align-items: center;
}

.nav-links {
  margin-right: 50px;
}

.nav-links ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}

.nav-links li {
  margin: 0 10px;
}

.nav-links a {
  text-decoration: none;
  color: var(--light);
  font-size: 1rem;
  font-weight: 500;
}

.nav-links a:hover {
  color: var(--blue);
}

.sign-in-up-btns {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sign-in-btn button {
  background: none;
  border: none;
  color: var(--light);
  font-size: 1rem;
  font-weight: 500;
  cursor: pointer;
  margin-right: 20px;
}

.sign-up-btn button {
  background: var(--primary);
  border: none;
  color: var(--light);
  font-size: 1rem;
  font-weight: 500;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

button .arrow-forward-icon {
  vertical-align: middle;
  margin-left: 5px;
}

.hero-section {
  position: relative;
}

.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--light);
  text-align: center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.hero-btns {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.get-quote button {
  background: var(--primary);
  border: none;
  border-radius: 20px;
  color: var(--light);
  font-size: 1rem;
  font-weight: 500;
  padding: 10px 20px;
  cursor: pointer;
}

.learn-more button {
  background: none;
  border: 2px solid var(--light);
  border-radius: 20px;
  color: var(--light);
  font-size: 1rem;
  font-weight: 500;
  cursor: pointer;
  padding: 10px 20px;
  margin-left: 20px;
}

/* Half of the cards div should be over the hero */
.assurance-cards {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* margin: 0 100px; */
}

.card {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  background: var(--light);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  padding: 15px;
  margin: 30px;
}

.card:first-child {
  margin-left: 150px;
}

.card:last-child {
  margin-right: 150px;
}

.card .people-icon {
  font-size: 2rem;
  color: var(--primary);
  margin-bottom: 0;
}

.card h3 {
  margin-top: 0;
}

.card-3 {
  background: var(--primary);
  color: var(--light);
}

.card-3 .people-icon {
  color: var(--light);
}

.assurances {
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px;
}

.assurance {
  text-align: center;
}

.assurance:first-child {
  margin-left: 100px;
}

.assurance:last-child {
  margin-right: 100px;
}

.assurance .assurance-icon {
  font-size: 2rem;
  color: var(--primary);
  margin-bottom: 0;
}

.testimonials {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: #f8f9fa;
}

.testimonials-header {
  text-align: center;
  width: 50%;
  padding: 50px;
}

.testimonal-cards {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 100px;
}

.testimonial-card {
  background: white;
  border: rgba(0, 0, 0, 0.445) 1px solid;
  border-radius: 5px;
  padding: 15px;
  margin: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

.user-img img {
  width: 100px;
  height: 100px;
}

.testimonal-cards .rating-stars {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: gold;
}

.partners {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px;
}

.partner img {
  width: 50%;
  height: 50%;
}

.partner:first-child {
  margin-left: 90px;
}

.partner:last-child {
  margin-right: 90px;
}

.news-letter-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(to right, var(--blue), var(--pink));
  padding: 50px;
  margin: 0 100px 100px 100px;
  border-radius: 5px;
}

.news-letter-heading h2 {
  color: white;
}

.news-letter-form {
  background-color: white;
  border: solid 1px var(--light);
  border-radius: 5px;
}
.news-letter-form input {
  border: solid 1px var(--light);
  border-radius: 5px 0 0 5px;
  padding: 10px 0 10px 20px;
}

.news-letter-form button {
  background: var(--primary);
  border: none;
  border-radius: 0 5px 5px 0;
  color: var(--light);
  font-size: 1rem;
  font-weight: 500;
  padding: 10px 20px;
  cursor: pointer;
}

.pricing {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 50px;
  text-align: center;
}

.pricing-cards {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 40px 100px;
}

.pricing-card {
  background: white;
  border: var(--blue) 1px solid;
  border-radius: 5px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

.pricing-card-2 {
  margin-top: -30px;
  padding-bottom: 40px;
  background-color: var(--dark);
  color: white;
}

.pricing-card-price {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.price h3 {
  font-size: 30px;
  color: var(--blue);
  padding: 2px;
}

.pricing-card-price-icon {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 2px;
}

.pricing-card-price-icon .logo-usd-icon {
  color: var(--blue);
  font-size: 1rem;
}

.pricing-card-body-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

.pricing-card-body-item-icon {
  margin-right: 5px;
}

.pricing-card-body-item-icon .checkmark-circle-icon {
  color: var(--green);
  font-size: 20px;
}

.pricing-card-btn button {
  background: var(--blue);
  border: none;
  border-radius: 5px;
  color: var(--light);
  font-size: 1rem;
  font-weight: 500;
  padding: 10px 50px;
  cursor: pointer;
}

.global-locations {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 70px;
  background-color: var(--gray-dark);
}

.global-locations-header {
  width: 80%;
  color: white;
  padding: 50px;
  margin-left: 100px;
}

.global-map img {
  width: 80%;
  height: 80%;
  margin-right: 100px;
}

.appointment-form {
  display: flex;
  align-items: center;
  padding: 50px 200px;
}

.appointment-img {
  width: 50%;
  height: 100%;
  margin-right: 50px;
}

.appointment-img img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.appointment-form-fields {
  width: 50%;
}

.appointment-form-fields-header h2 {
  font-size: 2rem;
  font-weight: 500;
  text-align: center;
  margin-bottom: 50px;
}

.appointment-form-fields-input {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  height: 50%;
  width: 100%;
}

.appointment-form-fields-input-item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  margin-bottom: 30px;
}

.appointment-form-fields-input-item-label {
  margin-bottom: 10px;
}

.appointment-form-fields-input-item-label label {
  font-size: 1.2rem;
  font-weight: 500;
}

.appointment-form-fields-input-item-input {
  width: 100%;
}

.appointment-form-fields-input-item-input input {
  width: 100%;
  height: 40px;
  border: none;
  border-radius: 5px;
  padding: 0 10px;
  font-size: 1rem;
  font-weight: 500;
}

.appointment-form-fields-input-item-input select {
  width: 100%;
  height: 40px;
  border: none;
  border-radius: 5px;
  padding: 0 10px;
  font-size: 1rem;
  font-weight: 500;
}

.appointment-form-fields-btn {
  width: 100%;
}

.appointment-form-fields-btn button {
  width: 100%;
  background: var(--blue);
  border: none;
  border-radius: 5px;
  color: var(--light);
  font-size: 1rem;
  font-weight: 500;
  padding: 20px 40px;
  cursor: pointer;
}

.contact-us {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 50px 200px;
}

.contact-us-header {
  width: 60%;
}

.contact-us-btn button {
  background: var(--blue);
  border: none;
  border-radius: 5px;
  color: var(--light);
  font-size: 1rem;
  font-weight: 500;
  padding: 20px 40px;
  cursor: pointer;
}

footer {
  background-color: white;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 50px 200px;
}

.footer-container-item-body-item a {
  color: var(--gray);
  text-decoration: none;
}

.footer-container-item-body .footer-container-item-body-item {
  display: flex;
  align-items: center;
  padding: 5px 0;
}

.footer-container-item-body-item .icon {
  margin-right: 10px;
  font-size: 1.5rem;
  color: var(--blue);
}

footer .bottom-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 200px;
  background-color: var(--light);
}

.attribution a {
  color: var(--gray);
  text-decoration: none;
}

.socials {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100px;
}

.socials-item {
  margin: 0 10px;
}

.social-item .icon {
  font-size: 1.5rem;
  color: var(--blue);
}

/* Mobile responsive styles */
@media screen and (max-width: 768px) {
  .hero-section {
    height: 100vh;
  }

  .header {
    margin: 0 50px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .logo-nav-links {
    flex-direction: column;
  }

  .logo {
    margin: 0;
  }

  .nav {
    margin: 0 20px;
  }

  .nav-links {
    margin: 0;
  }

  .sign-up-btn button {
    font-size: 0.8rem;
    font-weight: 250;
    padding: 8px 10px;
    border-radius: 5px;
  }

  .assurance-cards {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .card {
    margin-bottom: 10px;
  }

  .card:first-child {
    margin-left: 30px;
  }

  .card:last-child {
    margin-right: 30px;
  }

  .assurances {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .assurance {
    margin: 0;
  }

  .assurance:first-child {
    margin: 0;
  }

  .assurance:last-child {
    margin: 0;
  }

  .testimonal-cards {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .testimonial-card {
    padding: 5px;
    margin: 10px 0;
  }

  /* Horizontaly scroll the partners */
  .partners {
    overflow-x: scroll;
    margin: 0;
  }

  .partner {
    margin: 0 10px;
  }

  .partner:first-child {
    margin-left: 0;
  }

  .partner:last-child {
    margin-right: 0;
  }

  .news-letter-card {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 25px;
    margin: 5px;
  }

  .news-letter-heading {
    margin-bottom: 20px;
  }

  .news-letter-form {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .news-letter-form input {
    width: 70%;
  }

  .news-letter-form button {
    width: 40%;
  }

  .pricing-cards {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px 30px;
  }

  .pricing-card {
    margin-bottom: 10px;
  }

  .pricing-card-2 {
    margin-top: 0;
  }

  .pricing-card:first-child {
    margin-left: 0;
  }

  .pricing-card:last-child {
    margin-right: 0;
  }

  .pricing-card-btn button {
    font-size: 0.8rem;
    font-weight: 250;
    padding: 8px 10px;
    border-radius: 5px;
  }

  .global-locations {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px 30px;
  }

  .global-locations-header {
    padding: 10px;
    margin: 0;
  }

  .global-map img {
    width: 100%;
    height: 100%;
    margin: 0;
  }

  .global-locations-header h2 {
    font-size: 1.5rem;
  }

  .global-locations-header p {
    font-size: 0.8rem;
  }

  .appointment-form-img {
    display: none;
  }

  .appointment-form img {
    display: none;
  }

  .appointment-form {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5px 15px;
  }

  .appointment-form-header {
    margin: 0;
  }

  .appointment-form-header h2 {
    margin: 0;
    font-size: 1rem;
  }

  .appointment-form-header p {
    font-size: 0.8rem;
  }

  .appointment-form-fields {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .appointment-form-fields-input-item {
    width: 100%;
    margin-bottom: 5px;
  }

  .appointment-form-fields input {
    width: 100%;
    margin-bottom: 5px;
  }

  .appointment-form-fields button {
    width: 70%;
    font-size: 0.8rem;
    padding: 20px 0;
    margin-top: 20px;
  }

  .contact-us {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 5px;
    padding: 0;
  }

  .contact-us-header {
    margin: 0;
  }

  .contact-us-btn button {
    font-size: 0.8rem;
    font-weight: 250;
    padding: 20px 15px;
    border-radius: 5px;
  }

  .footer-container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
  }

  .footer-container-item-header h2 {
    font-size: 1.5rem;
    margin-bottom: 5px;
  }

  .footer-container-item-body .footer-container-item-body-item {
    padding: 2px 0;
  }

  .footer-container-item-body-item .icon {
    margin-right: 5px;
    font-size: 1rem;
    color: var(--blue);
  }

  footer .bottom-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
  }

  .socials {
    width: 50px;
  }

  .socials-item {
    margin: 0 5px;
  }

  .social-item .icon {
    font-size: 1rem;
  }
}
